.linkGray{
    color: map-get($foundation-palette, secondary);

    &:hover{
        color:  map-get($foundation-palette, primary);
    }
}
.fontLight{
  font-weight: 300 !important;
}
.fontNormal{
  font-weight: normal !important;
}
.fontBold{
  font-weight: bold !important;
}