select{
    padding-right: 24px;
    background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAALUlEQVQIW2OcOnXq/+zsbEYGHAAkD5bEpRAmDjcBXSEyH8UamAS6Bgy3YLMaAEd7IsRwrmjcAAAAAElFTkSuQmCC") no-repeat right 8px center;
    background-size: 9px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}