{{#extend "default"}} {{#content "body"}}

{{> searchFilter}}


<div class="row">
  <div class="small-12 columns">
    <p class="searchText"><a href="" class="linkGray">&laquo; Trở về</a> kết quả tìm kiếm <span>Bác sĩ</span> chuyên khoa <span>Tai mũi họng</span>  tại <span>TP. Hồ Chí Minh</span> khu vực <span>Quận 1</span></p>
  </div>

  <div class="small-12 columns">

    <div class="article clearfix boxShadow detail">
      <a href="" class="article--bookmark"><i class="fa fa-bookmark-o"></i> Lưu</a>
      <div class="article--main clearfix">

        <div class="article--column_1">
          <div class="article--thumbnail">
            <img src="http://nyulangone.org/images/doctors/f/fisher/1306860663/jason-c-fisher-thumb.jpg" alt="">
          </div>
        </div>



        <div class="article--column_2">
          <div class="article--position">BÁC SĨ</div>
          <div class="article--title">{{title}}</div>
          <div class="article-service">Chuyên khoa {{#each info.chuyen-khoa}} {{#if @first}} {{this}} {{else}} {{this}} {{/if}} {{/each}}</div>


          <div class="paragraph">{{description}}</div>

        </div>


      </div>

      <div class="article--meta clearfix">

        <div class="article--column_1">
          <div class="article--heart">
            <a href=""><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i> 128</a>
          </div>

        </div>

        <div class="article--column_2">
          <!--//SHARE-->
        </div>


      </div>



    </div>


  </div>


  <div class="small-4 columns">

    <div class="adv">
      <img src="http://placehold.it/700x200" alt="">
    </div>

    <div class="portlet boxShadow">
      <div class="porlet--heading">
        <h3 class="porlet--title">Thông tin</h3>
      </div>

      <div class="porlet--body">

          <h5 class="listIcon"><i class="fa fa-medkit"></i> Chuyên khoa</h5>
          <ul class="listCircle ml-5">
           {{#each info.chuyen-khoa}}
           	<li>{{this}}</li>
           {{/each}}
          </ul>


          <h5 class="listIcon"><i class="fa fa-trophy"></i> Giải thưởng Quốc Gia</h5>
          <ul class="listCircle ml-5">
          	{{#each info.giai-thuong}}
           	<li>{{this}}</li>
           {{/each}}
          </ul>


          <h5 class="listIcon"><i class="fa fa-list-alt"></i> Giấy phép</h5>
          <ul class="listCircle ml-5">
              {{#each info.giay-phep}}
                <li>{{{this}}}</li>
               {{/each}}
          </ul>
      </div>
    </div>
  </div>


  <div class="small-8 columns">

    {{> article-pk}}

    <div class="portlet boxShadow">
      <div class="porlet--heading">
        <h3 class="porlet--title">Chuyên điều trị</h3>
      </div>

      <div class="porlet--body" >

            <ul class="listCircle col3" id="chuyendieutri" data-toggler="show">
           {{#each chuyen-dieu-tri}}
           	<li>{{this}}</li>
           {{/each}}
            </ul>
        <div class="porlet-loadmore">
          <a data-toggle="chuyendieutri" class="linkGray">Xem thêm &raquo;</a>
        </div>


      </div>
    </div>

  </div>
</div>






{{/content}}

{{#content "scripts"}}




{{/content}}




{{/extend}}
