{{#extend "default"}} {{#content "body"}}

<div class="gioithieu__heading">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="text-center gioithieu__title">Giới thiệu Medihub</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">

  </div>
</div>

<ul class="accordion gioithieu__accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
  <li class="accordion-item is-active" data-accordion-item>
    <a href="#" class="accordion-title">
      <div class="row">
        <div class="columns small-12"><h3 class="gioithieu__title-accordion">Về chúng tôi</h3></div>
      </div>
    </a>
    <div class="accordion-content" data-tab-content>

      <div class="row">
        <div class="columns small-12">

          I would start in the open state, due to using the `is-active` state class.

        </div>
      </div>

    </div>
  </li>

  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">
      <div class="row"> <div class="columns small-12"><h3 class="gioithieu__title-accordion">Trung tâm hỗ trợ</h3></div></div>

    </a>
    <div class="accordion-content" data-tab-content>
      <div class="row">
        <div class="columns small-12">

          I would start in the open state, due to using the `is-active` state class.

        </div>
      </div>
    </div>
  </li>

  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">
      <div class="row"><div class="columns small-12"><h3 class="gioithieu__title-accordion">Tuyển dụng</h3></div></div>
    </a>
    <div class="accordion-content" data-tab-content>
      <div class="row">
        <div class="columns small-12">

          I would start in the open state, due to using the `is-active` state class.

        </div>
      </div>
    </div>
  </li>

  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">
      <div class="row"><div class="columns small-12"><h3 class="gioithieu__title-accordion">Giấy phép hoạt động</h3></div></div>
    </a>
    <div class="accordion-content" data-tab-content>
      <div class="row">
        <div class="columns small-12">

          I would start in the open state, due to using the `is-active` state class.

        </div>
      </div>
    </div>
  </li>

  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">
      <div class="row"><div class="columns small-12"><h3 class="gioithieu__title-accordion">Câu hỏi & Liên hệ</h3></div></div>
    </a>
    <div class="accordion-content" data-tab-content>
      <div class="row">
        <div class="columns small-12">

          I would start in the open state, due to using the `is-active` state class.

        </div>
      </div>
    </div>
  </li>

  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">
      <div class="row"><div class="columns small-12"><h3 class="gioithieu__title-accordion">Điều khoản</h3></div></div>
    </a>
    <div class="accordion-content" data-tab-content>
      <div class="row">
        <div class="columns small-12">

          I would start in the open state, due to using the `is-active` state class.

        </div>
      </div>
    </div>
  </li>

</ul>


{{/content}}

{{/extend}}