{{#extend "default"}} {{#content "body"}}



<div class="mainSearch">

  <div class="bgSlider">
    <!-- Swiper -->
    <div class="swiper-container swiper-bg-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('images/slider/slider1.png')"></div>
            <div class="swiper-slide" style="background-image: url('images/slider/slider2.png')"></div>
            <div class="swiper-slide" style="background-image: url('images/slider/slider3.png')"></div>
            <div class="swiper-slide" style="background-image: url('images/slider/slider4.png')"></div>
            <div class="swiper-slide" style="background-image: url('images/slider/slider5.png')"></div>
            <div class="swiper-slide" style="background-image: url('images/slider/slider6.png')"></div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">

      <div class="swiper-container swiper-txt-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ><h2 class="text-center mainSearch__title ">Tìm phòng khám, bác sĩ gần nhất</h2></div>
            <div class="swiper-slide" ><h2 class="text-center mainSearch__title ">Danh sách bác sĩ giỏi</h2></div>
            <div class="swiper-slide" ><h2 class="text-center mainSearch__title ">Chất lượng điều trị tốt</h2></div>
            <div class="swiper-slide" ><h2 class="text-center mainSearch__title ">Cuộc sống dễ dàng</h2></div>
              <div class="swiper-slide" ><h2 class="text-center mainSearch__title ">Danh sách bác sĩ giỏi</h2></div>
            <div class="swiper-slide" ><h2 class="text-center mainSearch__title ">Chất lượng điều trị tốt</h2></div>

        </div>
    </div>
  </div>

      {{> searchForm}}

    </div>

  </div>

</div>

<div class="medihubApp">

  <div class="row">
    <div class="small-12 columns text-center">
      <h3>Tìm mọi lúc mọi nơi với Medihub App</h3>

      <h5 class="fontLight">Hơn 20 ngàn người đã và đang sử dụng medihub app</h5>

      <ul class="listInline clearList medihubApp_button">
        <li><a href=""><img src="images/icon-appStore.png" alt=""></a></li>
        <li><a href=""><img src="images/icon-googlePlay.png" alt=""></a></li>
      </ul>

    </div>
  </div>



</div>

{{/content}} {{/extend}}