{{#extend "default"}} {{#content "body"}}



<div class="mainSearch">

  <div class="row">
    <div class="small-12 columns">
      <h2 class="text-center mainSearch__title">Tìm phòng khám, bác sĩ gần nhất</h2>

      <div class="mainSearch__form">

        <div class="mainSearch__form--1">
          <select class="select-custom-nosearch input" data-placeholder="Chọn (Bác sĩ, Phòng khám)">  
              <option value=""></option>
              <option value="male">Bác sĩ</option>
              <option value="female">Phòng khám</option>

               <option value="male">Bác sĩ</option>
              <option value="female">Phòng khám</option>

             
          </select>
        </div>
        <div class="mainSearch__form--2">
          <input class="" type="text" placeholder="Bệnh, Triệu chứng, Chuyên khoa" data-products-search>
        </div>
        <div class="mainSearch__form--3">
          <select class="select-custom input" data-placeholder="Tỉnh, Thành phố">

                    <option value=""></option>

                            <option value="AK">Alaska</option>
                            <option value="HI">Hawaii</option>
                        
                            <option value="CA">California</option>
                            <option value="NV">Nevada</option>
                            <option value="OR">Oregon</option>
                            <option value="WA">Washington</option>
                      
                            <option value="AZ">Arizona</option>
                            <option value="CO">Colorado</option>
                            <option value="ID">Idaho</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NM">New Mexico</option>
                            <option value="ND">North Dakota</option>
                            <option value="UT">Utah</option>
                            <option value="WY">Wyoming</option>
                      
                        </select>
        </div>
        <div class="mainSearch__form--4">
          <select class="select-custom input" data-placeholder="Khu vực">

          <option value=""></option>

                  <option value="AK">Alaska</option>
                  <option value="HI">Hawaii</option>
               
                  <option value="CA">California</option>
                  <option value="NV">Nevada</option>
                  <option value="OR">Oregon</option>
                  <option value="WA">Washington</option>
             
                  <option value="AZ">Arizona</option>
                  <option value="CO">Colorado</option>
                  <option value="ID">Idaho</option>
                  <option value="MT">Montana</option>
                  <option value="NE">Nebraska</option>
                  <option value="NM">New Mexico</option>
                  <option value="ND">North Dakota</option>
                  <option value="UT">Utah</option>
                  <option value="WY">Wyoming</option>
             
              </select>
        </div>
        <div class="mainSearch__form--5">

            <a href="" class="button mainSearch__form--button"><i class="fa fa-search"></i> Tìm kiếm</a>

        </div>

        

      
      </div>

    </div>

  </div>

</div>

<div class="medihubApp">

  <div class="row">
    <div class="small-12 columns text-center">
      <h3>Tìm mọi lúc mọi nơi với Medihub App</h3>

      <h5 class="fontLight">Hơn 20 ngàn người đã và đang sử dụng medihub app</h5>

      <ul class="listInline clearList medihubApp_button">
        <li><a href=""><img src="images/icon-appStore.png" alt=""></a></li>
        <li><a href=""><img src="images/icon-googlePlay.png" alt=""></a></li>
      </ul>

    </div>
  </div>



</div>

{{/content}} {{/extend}}