{{#extend "default"}} {{#content "body"}}


<div class="row profile">

  <div class="small-4 columns">

    <div class="portlet boxShadow ">

      <div class="porlet--body no-pd">


        {{> profile}}


      </div>
    </div>
  </div>


  <div class="small-8 columns">

    <div class="portlet boxShadow">
      <div class="porlet--heading">
        <h3 class="porlet--title">Thông tin tài khoản</h3>
      </div>

      <div class="porlet--body" >

        <div class="profile-info">
          <table>
            <tbody>
            <tr>
              <td>Tên</td>
              <td>Nguyễn Việt Hùng</td>

            </tr>
            <tr>
              <td>Ngày sinh</td>
              <td>14 - 12 - 1991</td>

            </tr>
            <tr>
              <td>Nơi sinh</td>
              <td>Khánh Hòa</td>
            </tr>

            <tr>
              <td>Giới tính</td>
              <td>Nam</td>
            </tr>

            <tr>
              <td>Địa chỉ</td>
              <td>Chung cư Bùi Viện - Q.1 - TP. HCM</td>
            </tr>

            <tr>
              <td>Điện thoại</td>
              <td>01669 206 512</td>
            </tr>

            <tr>
              <td>Email</td>
              <td>gattadesmond@gmail.com</td>
            </tr>
            </tbody>
          </table>

          <a href="profile-edit.html" class="button primary">Đổi thông tin tài khoản</a>

        </div>

      </div>
    </div>

  </div>
</div>






{{/content}}

{{#content "scripts"}}




{{/content}}




{{/extend}}