{{#extend "default"}} {{#content "body"}}


<div class="row profile">

  <div class="small-4 columns">

    <div class="portlet boxShadow ">

      <div class="porlet--body no-pd">

          {{> profile}}


      </div>
    </div>
  </div>


  <div class="small-8 columns">

    <div class="portlet boxShadow">
      <div class="porlet--heading">
        <h3 class="porlet--title">Đổi thông tin</h3>
      </div>

      <div class="porlet--body" >

        <div class="profile-info">
          <form>
            <div class="row">
              <div class="small-12 medium-6 columns">
                <label>Họ và tên
                  <input type="text" value="Nguyễn Việt Hùng" placeholder="Họ và tên">
                </label>
              </div>
              <div class="small-12 medium-6 columns">
                <label>Ngày sinh
                  <input type="text" value="14 - 12 - 1991" placeholder="Ngày sinh">
                </label>
              </div>

              <div class="small-12 medium-6 columns">
                <label>Nơi sinh
                  <select class="select2Search" data-placeholder="Tỉnh, Thành phố">
                    <option value="pk" selected>TP. Hồ Chí Minh</option>
                    <option value="pk">Hà nội</option>
                    <option value="pk">Khánh Hòa</option>
                    <option value="pk">Bình Định</option>
                    <option value="pk">Nha Trang</option>
                  </select>
                </label>
              </div>
              <div class="small-12 medium-6 columns">
                <label>Ngày sinh
                  <input type="text" value="14 - 12 - 1991" placeholder="Ngày sinh">
                </label>
              </div>


              <div class="small-12 medium-6 columns">
                <label>Địa chỉ
                  <input type="text" value="Chung cư Bùi Viện - Q.1 - Tp.HCM" placeholder="Địa chỉ">
                </label>
              </div>

              <div class="small-12 medium-6 columns">
                <label>Điện thoại
                  <input type="text" value="01669 206 512" placeholder="Điện thoại">
                </label>
              </div>

              <div class="small-12 medium-6 columns">
                <label>Email
                  <input type="text" value="gattadesmond@gmail.com" placeholder="Nhập địa chỉ Email">
                </label>
              </div>
              
              
            </div>
          </form>
        </div>

        <a href="" class="button primary">Cập nhập thông tin</a>

      </div>
    </div>



    <div class="portlet boxShadow">
      <div class="porlet--heading">
        <h3 class="porlet--title">Đổi mật khẩu của bạn</h3>
      </div>

      <div class="porlet--body" >

        <div class="profile-info">
          <form>
            <div class="row">

              <div class="small-12 medium-6 columns">
                <label>Mật khẩu hiện tại
                  <input type="password">
                </label>
              </div>

              <div class="small-12 medium-6 columns">
                <label>Mật khẩu mới
                  <input type="password" placeholder="Mật khẩu cần dài hơn 6 ký tự">
                </label>
              </div>

              <div class="small-12 medium-6 columns">
                <label>Nhập lại mật khẩu mới
                  <input type="password">
                </label>
              </div>


            </div>
          </form>
        </div>

        <a href="" class="button primary">Cập nhập thông tin</a>

      </div>
    </div>

  </div>
</div>






{{/content}}

{{#content "scripts"}}




{{/content}}




{{/extend}}