{{#extend "default"}} {{#content "body"}}


<div class="row profile">

  <div class="small-4 columns">

    <div class="portlet boxShadow ">

      <div class="porlet--body no-pd">

        {{> profile}}

      </div>
    </div>
  </div>


  <div class="small-8 columns">

    <div class="portlet boxShadow">

      <div class="porlet--body">

        <div class="profile-save">
          <div class="profile-save-item">
            <a href="profile-save.html" class="linkAbsolute"></a>
            <div class="profile-save-icon"><i class="fa fa-comments-o"></i></div>
            <h4 class="profile-save-title">Trao đổi</h4>
            <ul class="profile-save-list clearList">
              <li>6 chủ đề giao lưu</li>
                <li>6 câu hỏi chuyên gia</li>
            </ul>

          </div>

          <div class="profile-save-item">
            <a href="profile-save.html" class="linkAbsolute"></a>
            <div class="profile-save-icon"><i class="fa fa-heartbeat"></i></div>
            <h4 class="profile-save-title">Yêu thích</h4>
            <ul class="profile-save-list clearList">
              <li>10 Bác sĩ</li>
              <li>20 Phòng khám</li>
            </ul>

          </div>


          <div class="profile-save-item">
            <a href="profile-save.html" class="linkAbsolute"></a>
            <div class="profile-save-icon"><i class="fa fa-bookmark-o"></i></div>
            <h4 class="profile-save-title">Đã lưu</h4>
            <ul class="profile-save-list clearList">
              <li>5 Bác sĩ</li>
              <li>12 Phòng khám</li>
            </ul>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>






{{/content}}

{{#content "scripts"}}




{{/content}}




{{/extend}}