{{#extend "default"}} {{#content "body"}}

{{> searchFilter}}


<div class="row haveMap">
  <div class="small-12 columns">
    <p class="searchText"><span>10 kết quả</span> tìm kiếm <span>Bác sĩ</span> chuyên khoa <span>Tai mũi họng</span>  tại <span>TP. Hồ Chí Minh</span> khu vực <span>Quận 1</span></p>
  </div>


  <div class="small-4 columns">

    <div id="mapView" class="boxShadow"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>


  </div>


  <div class="small-8 columns">
  {{#each collections.bac-si}}
  <div class="article clearfix boxShadow data-card" data-chon="bac-si" data-tinh="{{dia-chi.tinh}}" data-quan="{{dia-chi.quan-huyen}}">
    <a href="" class="article--bookmark" data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Lưu vào danh sách của bạn"><i class="fa fa-bookmark-o"></i> Lưu</a>
    <div class="article--main clearfix">

      <div class="article--column_1">
        <div class="article--thumbnail">
          <img src="{{avatar}}" alt="">
        </div>
      </div>
      <div class="article--column_2">
        <div class="article--position">BÁC SĨ</div>
        <div class="article--title"><a href="./{{path}}">{{title}}</a> </div>
        <div class="article--column_sub">
          <div class="article--column_sub_1">
            <div class="article-service">Chuyên khoa {{#each info.chuyen-khoa}}{{#if @first}}{{this}}{{else}}, {{this}}{{/if}}{{/each}}</div>
            <div class="article-address">{{dia-chi.chi-tiet}}</div>
          </div>

          <div class="article--column_sub_2">
            <div class="article--price"><div class="icon"><i class="fa fa-money"></i> </div><div class="meta">{{gia-tien}}</div></div>
            <div class="article--date">
              <div class="icon"><i class="fa fa-calendar"></i></div>
              <div class="meta">{{#each gio-lam-viec}} {{this}} {{/each}}</div></div>
          </div>
        </div>

      </div>


    </div>

    <div class="article--meta clearfix">

      <div class="article--column_1">
        <div class="article--heart">
          <a href=""><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>{{like}}</a>
        </div>

      </div>

      <div class="article--column_2">

        <div class="article--column_sub">
            <div class="article--column_sub_1">
            <div class="article-gallery">

                <ul class="clearList listInline popup-gallery">
                <li><a href="" style="background-image: url('https://images1-fabric.practo.com/54edc2232f821b5e7d988cfdb78bc3be1a9c221a8f744.JPG')"></a></li>

                <li><a href="" style="background-image: url('https://images1-fabric.practo.com/54edc2232f821b5e7d988cfdb78bc3be1a9c221a8f744.JPG')"></a></li>

                <li><a href="" style="background-image: url('https://images1-fabric.practo.com/54edc22661da8943359f44dc87f6a1679c987280e8dc7.JPG')"></a></li>

                <li><a href="" style="background-image: url('https://images1-fabric.practo.com/54edc2291e9de8c3fa8196ef3e2c81e88d4c24d6b7c06.JPG')"></a></li>
                </ul>

            </div>

            </div>

            <div class="article--column_sub_2">
            <a href="" class="button expanded article--button"><i class="fa fa-phone"></i> Xem số điện thoại</a>
            </div>
        </div>

        </div>
        


    </div>
    <div class="article-gallery-popover ">
    <div class="swiper-container swiper-gallery-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img data-src="https://images1-fabric.practo.com/cosderma-clinic-bangalore-1456213122-56cc0c8281b6f.jpg" alt="" width="300" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div></div>
                <div class="swiper-slide"><img data-src="https://images1-fabric.practo.com/cosderma-clinic-bangalore-1456213309-56cc0d3d4d29d.jpg" alt="" width="300" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div></div>
                <div class="swiper-slide"><img data-src="https://images1-fabric.practo.com/cosderma-clinic-bangalore-1456213420-56cc0dac9b1b8.jpg" alt="" width="300" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div></div>
                <div class="swiper-slide"><img data-src="https://images1-fabric.practo.com/cosderma-clinic-bangalore-1456213354-56cc0d6ae1f28.jpg" alt="" width="300" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div></div>
            </div>
          <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
        </div>
  </div>

    <div class="article--drop">


        <div class="show-phonenumber">
                <div class="notch"></div>

                <div class="phone_and_ext">

                       <h5><i class="fa fa-phone"></i> Số điện thoại : {{so-dien-thoai}}</h5>

                </div>
                <div class="help_message">
                    <span> {{{ note.content}}}</span>
                </div>
            </div>

    </div>
  </div>


  {{/each}}


  {{#each collections.phong-kham}}
  <div class="article clearfix boxShadow data-card" data-chon="phong-kham" data-tinh="{{dia-chi.tinh}}" data-quan="{{dia-chi.quan-huyen}}">
      <a href="" class="article--bookmark"><i class="fa fa-bookmark-o"></i> Lưu</a>
      <div class="article--main clearfix">

          <div class="article--column_1">
              <div class="article--thumbnail">
                  <img src="http://www.diachibotui.com/Thumbnail/ExtraLarge/Upload/2015/5/22/phong-kham-mat-thu-ha-ba-trieu-635679087664809056.jpg" alt="">
              </div>
          </div>



          <div class="article--column_2">

              <div class="article--title"><a href="./{{path}}">{{title}}</a>
                  <div class="label-bh">BH</div>
              </div>
              <div class="article--column_sub">
                  <div class="article--column_sub_1">
                      <div class="article-service">Dịch vụ: {{dich-vu}}</div>
                      <div class="article-address">{{dia-chi.chi-tiet}}</div>
                  </div>

                  <div class="article--column_sub_2">
                      <div class="article--price">
                          <div class="icon"><i class="fa fa-money"></i> </div>
                          <div class="meta">{{gia-tien}}</div>
                      </div>
                      <div class="article--date">
                          <div class="icon"><i class="fa fa-calendar"></i></div>
                          <div class="meta">{{#each gio-lam-viec}} {{this}} {{/each}}</div>
                      </div>
                  </div>
              </div>

          </div>


      </div>

      <div class="article--meta clearfix">

          <div class="article--column_1">
              <div class="article--heart">
                  <a href=""><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>{{like}}</a>
              </div>
              <div class="article--sponsor">
                  Nhà tài trợ
              </div>
          </div>

          <div class="article--column_2">

              <div class="article--column_sub">
                  <div class="article--column_sub_1">
                      <div class="article-gallery">

                          <ul class="clearList listInline popup-gallery">
                              {{#each list-image}}
                              <li>
                                  <a href="https://images1-fabric.practo.com/cosderma-clinic-bangalore-1456213122-56cc0c8281b6f.jpg" style="background-image: url('{{this}}')"></a>
                              </li>
                              {{/each}}

                          </ul>

                          <div class="article-gallery-popover boxShadow">

                          </div>

                      </div>
                  </div>

                  <div class="article--column_sub_2">
                      <a href="" class="button expanded article--button"><i class="fa fa-phone"></i> Xem số điện thoại</a>
                  </div>
              </div>

          </div>


      </div>

    <div class="article-gallery-popover ">
        <div class="swiper-container swiper-gallery-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img data-src="https://images1-fabric.practo.com/cosderma-clinic-bangalore-1456213122-56cc0c8281b6f.jpg" alt="" width="300" class="swiper-lazy">
                    <div class="swiper-lazy-preloader"></div></div>
                    <div class="swiper-slide"><img data-src="https://images1-fabric.practo.com/cosderma-clinic-bangalore-1456213309-56cc0d3d4d29d.jpg" alt="" width="300" class="swiper-lazy">
                    <div class="swiper-lazy-preloader"></div></div>
                    <div class="swiper-slide"><img data-src="https://images1-fabric.practo.com/cosderma-clinic-bangalore-1456213420-56cc0dac9b1b8.jpg" alt="" width="300" class="swiper-lazy">
                    <div class="swiper-lazy-preloader"></div></div>
                    <div class="swiper-slide"><img data-src="https://images1-fabric.practo.com/cosderma-clinic-bangalore-1456213354-56cc0d6ae1f28.jpg" alt="" width="300" class="swiper-lazy">
                    <div class="swiper-lazy-preloader"></div></div>
                </div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
            </div>
    </div>


      <div class="article--drop">
          <div class="show-phonenumber">
              <div class="notch"></div>

              <div class="phone_and_ext">

                  <h5><i class="fa fa-phone"></i> Số điện thoại : {{so-dien-thoai}}</h5>

              </div>
              <div class="help_message">

                  <span>If you couldn't connect with the center,
                                                <a href="" class="live-chat-link">Chat with us</a><span class="chat-icon-loader hide"></span>
                  <div class="help_timing">(8 am to 7 pm, Monday to Sunday)
                      <br>
                  </div>
                  </span>

              </div>

              <div class="help_message">
                  Note: This call may be recorded for quality control purpose and call recording may be shared with the center you are trying to connect
              </div>

              <div>By calling this number, you agree to the <a href="" target="blank">Terms &amp; Conditions</a></div>
          </div>
      </div>
  </div>
  {{/each}}

    <!-- <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div> -->
  </div>
</div>
{{/content}}

{{#content "scripts"}}


<script src="https://maps.googleapis.com/maps/api/js?sensor=true&amp;libraries=geometry&amp;libraries=places" type="text/javascript"></script>
<script src="js/infobox.js"></script>
<script src="js/map.js"></script>

<script>
    function getJsonFromUrl() {
        var query = location.search.substr(1);
        var result = {};
        query.split("&").forEach(function (part) {
            var item = part.split("=");
            if (!item[0]) return;
            result[item[0]] = decodeURIComponent(item[1]);
        });
        return result;
    }

    var filter = getJsonFromUrl(window.location.href);

    for (var term in filter) {
        if (!filter.hasOwnProperty(term)) continue;
        var selector = '.data-card[data-' + term + '!="' + filter[term] + '"]';
        console.log("term" + term + " selector" + selector);
        $(selector).hide();
    }
</script>
{{/content}}




{{/extend}}
