{{#extend "default"}} {{#content "body"}}

{{> searchFilter}}


<div class="row">
  <div class="small-12 columns">
    <p class="searchText"><span>10 kết quả</span> tìm kiếm <span>Bác sĩ</span> chuyên khoa <span>Tai mũi họng</span>  tại <span>TP. Hồ Chí Minh</span> khu vực <span>Quận 1</span></p>
  </div>


  <div class="small-4 columns">

    <div id="mapView"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>

    <!--<div id="map" class="boxShadow">

    </div>


    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 44.540, lng: -78.546},
          zoom: 8
        });
      }
    </script>


    <script async defer
            src="https://maps.googleapis.com/maps/api/js?callback=initMap">
    </script>-->
  </div>


  <div class="small-8 columns">

    {{> article}}
    {{> article}}
    {{> article}}
    {{> article}}

    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>






{{/content}}

{{#content "scripts"}}


<script src="http://maps.googleapis.com/maps/api/js?sensor=true&amp;libraries=geometry&amp;libraries=places" type="text/javascript"></script>
<script src="js/infobox.js"></script>
<script src="js/map.js"></script>


{{/content}}




{{/extend}}