<div class="article-lite clearfix boxShadowLess">

  <div class="article--thumbnail">
    <a href="detail.html"><img src="http://www.diachibotui.com/Thumbnail/ExtraLarge/Upload/2015/5/22/phong-kham-mat-thu-ha-ba-trieu-635679087664809056.jpg" alt=""></a>
  </div>

  <div class="article--title"><a href="detail.html">Phòng khám Nha khoa Nancy</a> <div class="label-bh">BH</div></div>
  <div class="article-service">Dịch vụ: Tẩy trắng răng, niềng răng, trám nhổ răng</div>
  <div class="article--heart">
    <a href=""><i class="fa fa-heart"></i> 588</a>
  </div>

  <a class="delete-article">×</a>
</div>