<div class="article-lite clearfix boxShadowLess">

  <div class="article--thumbnail">
    <a href="detail.html"><img src="http://nyulangone.org/images/doctors/f/fisher/1306860663/jason-c-fisher-thumb.jpg" alt=""></a>
  </div>

  <div class="article--position">BÁC SĨ</div>
  <div class="article--title"><a href="detail.html">Nguyễn Văn An</a> </div>
  <div class="article-service">Chuyên khoa Tai mũi họng</div>
  <div class="article--heart">
    <a href=""><i class="fa fa-heart-o"></i><i class="fa fa-heart"></i> 128</a>
  </div>

  <a class="delete-article">×</a>
</div>