<div class="article clearfix boxShadow">
  <a href="" class="article--bookmark"><i class="fa fa-bookmark-o"></i> Lưu</a>
  <div class="article--main clearfix">

    <div class="article--column_1">
      <div class="article--thumbnail">
        <img src="http://www.diachibotui.com/Thumbnail/ExtraLarge/Upload/2015/5/22/phong-kham-mat-thu-ha-ba-trieu-635679087664809056.jpg" alt="">
      </div>
    </div>



    <div class="article--column_2">

      <div class="article--title"><a href="detail-pk.html">Phòng khám Nha khoa Nancy</a> <div class="label-bh">BH</div></div>
      <div class="article--column_sub">
        <div class="article--column_sub_1">
          <div class="article-service">Dịch vụ: Tẩy trắng răng, niềng răng, trám nhổ răng</div>
          <div class="article-address">300 Phạm Ngũ Lão, P. Nguyễn Cư Trinh,
            Q.1, TP.HCM</div>
        </div>

        <div class="article--column_sub_2">
          <div class="article--price"><div class="icon"><i class="fa fa-money"></i> </div><div class="meta">520,000 đồng</div></div>
          <div class="article--date">
            <div class="icon"><i class="fa fa-calendar"></i></div> <div class="meta">T2 - T6: 10:00AM-2:00PM <br>T7 - CN: 5:00PM-9:00PM</div></div>
        </div>
      </div>

    </div>


  </div>

  <div class="article--meta clearfix">

    <div class="article--column_1">
      <div class="article--heart">
        <a href=""><i class="fa fa-heart"></i> 668</a>
      </div>
      <div class="article--sponsor">
        Nhà tài trợ
      </div>
    </div>

    <div class="article--column_2">

      <div class="article--column_sub">
        <div class="article--column_sub_1">
          <div class="article-gallery">

            <ul class="clearList listInline popup-gallery">
              <li><a href="https://images1-fabric.practo.com/cosderma-clinic-bangalore-1456213122-56cc0c8281b6f.jpg" style="background-image: url('https://images1-fabric.practo.com/54edc2232f821b5e7d988cfdb78bc3be1a9c221a8f744.JPG')"></a></li>

              <li><a href="https://images1-fabric.practo.com/cosderma-clinic-bangalore-1456213309-56cc0d3d4d29d.jpg" style="background-image: url('https://images1-fabric.practo.com/54edc2232f821b5e7d988cfdb78bc3be1a9c221a8f744.JPG')"></a></li>

              <li><a href="https://images1-fabric.practo.com/cosderma-clinic-bangalore-1456213420-56cc0dac9b1b8.jpg" style="background-image: url('https://images1-fabric.practo.com/54edc22661da8943359f44dc87f6a1679c987280e8dc7.JPG')"></a></li>

              <li><a href="https://images1-fabric.practo.com/cosderma-clinic-bangalore-1456213354-56cc0d6ae1f28.jpg" style="background-image: url('https://images1-fabric.practo.com/54edc2291e9de8c3fa8196ef3e2c81e88d4c24d6b7c06.JPG')"></a></li>
            </ul>

            <div class="article-gallery-popover boxShadow">

            </div>

          </div>
        </div>

        <div class="article--column_sub_2">
          <a href="" class="button expanded article--button"><i class="fa fa-phone"></i> Xem số điện thoại</a>
        </div>
      </div>

    </div>


  </div>

  <div class="article--drop">
    

      <div class="show-phonenumber">
              <div class="notch"></div>
              
              <div class="phone_and_ext">
                  
                     <h5><i class="fa fa-phone"></i> Số điện thoại : 080 6608 4059</h5>
                  
              </div>
              <div class="help_message">
                  
                      <span>If you couldn't connect with the center, 
                                                  <a href="" class="live-chat-link">Chat with us</a><span class="chat-icon-loader hide"></span>
                                              <div class="help_timing">(8 am to 7 pm, Monday to Sunday)<br></div>
                      </span>
                  
              </div>
              
                  <div class="help_message">
                      Note: This call may be recorded for quality control purpose and call recording may be shared with the center you are trying to connect
                  </div>
              
              <div>By calling this number, you agree to the <a href="" target="blank">Terms &amp; Conditions</a></div>
          </div>

  </div>



</div>