<header class="header boxShadowLess">
    <div class="row align-justify align-middle">

        <div class="columns">
            <div class="header__container">
                <div class="header__logo">
                    <a href="index.html" id="logo"></a>
                </div>
            </div>
        </div>

        <div class="columns">
            <ul class="header__link clearList listInline">
                <li><a href="" class="linkGray">Về chúng tôi</a></li>
                <li><a href="" class="linkGray">Đăng ký</a></li>
                <li><a href="" class="button">Đăng nhập</a></li>
            </ul>
        </div>


    </div>
</header>