<div class="profile-avatar text-center">
  <div class="article--thumbnail ">
    <img src="http://nyulangone.org/images/doctors/f/fisher/1306860663/jason-c-fisher-thumb.jpg" alt="">

    <a href="" class="article--thumbnail-change"><input type="file" class="file-input">Đổi hình đại diện</a>
  </div>

  <h4 class="profile-name"><a href="profile-info.html">Nguyen Viet Hung</a></h4>

  <a href="profile-edit.html" class="profile-edit linkGray"><i class="fa fa-edit"></i></a>
</div>

<div class="profile-feature">
  <table>
    <tbody>
    <tr>
      <td>Nhóm máu</td>
      <td>: A</td>
    </tr>
    <tr>
      <td>Chiều cao</td>
      <td>: 1,7 m</td>
    </tr>
    <tr>
      <td>Cân nặng</td>
      <td>: 78kg</td>
    </tr>

    <tr>
      <td><span class="label bmi secondary ">BMI</span></td>
      <td>: 20</td>
    </tr>
    </tbody>
  </table>
</div>