<div class="searchForm clearfix">
  <div class="searchForm--1">
    <select class="select2Normal" data-placeholder="Bác sĩ | Phòng khám" onchange="data.selectedFilter.chon = this.value;">
      <option value=""></option>
      {{#each searchForm.bacsi-phongkham}}
       <option value="{{loai}}" >{{ten}}</option>
      {{/each}}
    </select>
  </div>
  <div class="searchForm--2">
    <select class="select2Search" data-placeholder="Bệnh, Triệu chứng, Chuyên khoa" onchange="data.selectedFilter.benh = this.value;">
      <option value="" selected></option>
      {{#each searchForm.trieu-chung-benh}}
        <option value="{{this.name}}" >{{this.ten}}</option>
      {{/each}}
    </select>
  </div>
  <div class="searchForm--3">
    <select class="select2Search" data-placeholder="Tỉnh, Thành phố" onchange="data.selectedFilter.tinh = this.value;">
      <option value="" selected></option>
      {{#each tinh-thanh-pho.danh-sach-tinh}}
        <option value="{{name}}">{{title}}</option>
      {{/each}}
      </select>
  </div>
  <div class="searchForm--4">
    <select class="select2Search" data-placeholder="Quận | Huyện" onchange="data.selectedFilter.quan = this.value;">
      <option value="" selected></option>
      {{#each tinh-thanh-pho.danh-sach-tinh}}
        {{#each this.danh-sach-quan}}
          <option value="{{name}}">{{title}}</option>
        {{/each}}
      {{/each}}
    </select>
  </div>
  <div class="searchForm--5">
    <a class="button searchForm--button" onclick="Gui()"><i class="fa fa-search"></i> Tìm kiếm</a>
  </div>

</div>
<script>
  var data = {{#rivetData}}{{rivetData}}{{/rivetData}};
    rivets.bind(document.querySelector('body'), window.data);

  function Gui() {
      var parts = [];
      for (var key in window.data.selectedFilter) {
          if (!window.data.selectedFilter.hasOwnProperty(key) || window.data.selectedFilter[key] == '')
              continue;
          parts.push(key + '=' + window.data.selectedFilter[key]);
      }
    var query = parts.join('&');
      window.location = "search.html?" + query;
  }
</script>
