<div class="row">
<div class="small-12 columns">
  <div class="searchFilter boxShadow">
    {{> searchForm }}

    <div class="searchDetail">

      <div class="searchDetail-title">Lọc tìm kiếm</div>

      <div class="checkbox-inline">
        <label class="topcoat-checkbox">
          <input type="checkbox">
          <div class="topcoat-checkbox__checkmark"></div>
          Trong giờ
        </label>
      </div>

      <div class="checkbox-inline">
        <label class="topcoat-checkbox">
          <input type="checkbox">
          <div class="topcoat-checkbox__checkmark"></div>
          Ngoài giờ
        </label>
      </div>

      <div class="checkbox-inline">
        <label class="topcoat-checkbox">
          <input type="checkbox">
          <div class="topcoat-checkbox__checkmark"></div>
          Có bảo hiểm&nbsp;<div class="label-bh">BH</div>
        </label>
      </div>

      <div class="checkbox-inline">
        <label class="topcoat-checkbox">
          <input type="checkbox">
          <div class="topcoat-checkbox__checkmark"></div>
          Có lấy qua số điện thoại
        </label>
      </div>


      <div class="rangeSlider-container">
        <div class="rangeSlider-label">Giá khám</div>
        <div class="rangeSlider">
          <input id="range_2" type="text" />
        </div>

      </div>

    </div>

  </div>
</div>
</div>



</div>
