.button{
    &:hover{
        box-shadow: inset 0 -2px 0 rgba(0,0,0,0.2);
    }

  i{
    padding-right: 5px;
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
  }
}
.icon-large{
  i{
    padding-right: 5px;
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
  }
}