body {
  background: $bg-body;
}

.mainSearch {
  padding: 130px 0 160px;
  background: url("../images/mainSearch-bg.jpg") #527e2c no-repeat top center;
  background-size: 100% auto;

  @include breakpoint(large){
    .row{
      padding-left: 20px;
      padding-right: 20px;
    }

  }
}

.mainSearch__title{
  color: white;
  margin-bottom: 40px;
}

.mainSearch__form--button{
  display: block;
  font-size: rem-calc(16px);
  white-space: nowrap;
  padding: 1.4em 1em;
  margin-left: 5px;
  margin-bottom: 0;
}

.mainSearch__form {
  font-size: rem-calc(16px);
  width: 100%;

  padding: 10px 10px 0 10px;
  background: rgba(255,255,255,0.5);
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;

  >div{
    margin-bottom: 10px;
  }


  .mainSearch__form--1{
    flex: 2 1 220px;

    .select2-container--classic .select2-selection--single {

      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }

  .mainSearch__form--2{
    flex: 5 2 250px;
  }

  .mainSearch__form--3{
    flex: 2 1 170px;
  }

  .mainSearch__form--4{
    flex: 2 1 110px;

    .select2-container--classic .select2-selection--single {

      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  .mainSearch__form--5{
    flex: 2 1 120px;
    
  }


  .select2-container--classic {
    width: 100% !important;
    .select2-selection--single {

      border-radius: 0;
      border-color: transparent;
      border-right-color: $light-gray;
      height: 64px;
      .select2-selection__rendered {
        line-height: 64px;
      }
      .select2-selection__arrow {
        height: 64px;
        width: 25px;
      }
    }

 
  }

  .tt-input{
    padding-right: 24px;
    background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAALUlEQVQIW2OcOnXq/+zsbEYGHAAkD5bEpRAmDjcBXSEyH8UamAS6Bgy3YLMaAEd7IsRwrmjcAAAAAElFTkSuQmCC") no-repeat right 8px center;
    background-size: 9px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .tt-input,.tt-hint {
    height: 64px;
    border-color:transparent;
border-right-color:  $light-gray;
  font-size: rem-calc(16px);
    box-shadow: none;
    border-radius: 0;
    transition: none;
  }
  .tt-input:focus{
    background: $light-gray url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAALUlEQVQIW2OcOnXq/+zsbEYGHAAkD5bEpRAmDjcBXSEyH8UamAS6Bgy3YLMaAEd7IsRwrmjcAAAAAElFTkSuQmCC") no-repeat right 8px center !important;
  }
}

//SEARCH SUGGEST
// Styles for the search bar and results list.
.twitter-typeahead {
  display: block !important;
  position: relative;
  width: 100%;
  input {
    margin-bottom: 0
  }
}

.tt-menu {
  background: white;
  width: 100%;
  box-shadow: 0 0 5px #bdbdbd;
  transition: box-shadow 0.5s ease-in-out;
  

  border:none;
   .tt-suggestion:first-child {
  }
  .tt-suggestion:last-child {
  }
}

.tt-suggestion {
  @include clearfix;
  padding: 0.8rem 0.8rem;
  font-size: rem-calc(14px);
  
  border-bottom: 1px solid $light-gray;
  &:hover,
  &.tt-cursor {
    background: map-get($foundation-palette, primary);
    cursor: pointer;
    color: white;
    .cat {
      color: white;
    }
  }
  .name {
    display: block;
    margin-bottom: -5px;
    float: left;
  }
  .cat {
    font-size: rem-calc(12px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
    text-transform: uppercase;
    color: $medium-gray;
  }
}

.tt-empty {
  padding: 1rem;
  font-size: rem-calc(14px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  &:before {
    content: ':(';
    font-weight: bold;
    font-size: 1rem;
    color: #999;
    margin-left: 0rem;
    margin-right: 0.5rem;
  }
}

//end SEARCH SUGGEST

.medihubApp{
  padding: 70px 0;
}

.medihubApp_button{
  padding-top: 50px;
  li{
    padding: 0 10px;
    margin-bottom: 10px;
  }
}

