body {
  background: $bg-body;
}

.mainSearch {
  padding: 130px 0 160px;
  background: url("../images/mainSearch-bg.jpg") #527e2c no-repeat top center;
  background-size: 100% auto;

  @include breakpoint(large){
    .row{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.mainSearch__title{
  color: white;
  margin-bottom: 40px;
}

//end SEARCH SUGGEST

.medihubApp{
  padding: 70px 0;
}

.medihubApp_button{
  padding-top: 50px;
  li{
    padding: 0 10px;
    margin-bottom: 10px;
  }
}

