.mainSearch {

  .searchForm--button {
    font-size: rem-calc(16px);
    white-space: nowrap;
    padding: 1.4em 1em;
    margin-bottom: 0;
    i{
      vertical-align: -14%;
    }
  }

  .select2-container {
    width: 100% !important;
    .select2-selection--single {
      font-size: rem-calc(16px);
      border-right-color: $light-gray !important;
      height: 64px;
      .select2-selection__rendered {
        line-height: 45px;
      }
    }
  }

  .select2-container--open {
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
  }

  .searchForm--1 {
    .select2-container .select2-selection--single {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    width: 210px;
  }

  .searchForm--2 {
    width: 270px;
  }

  .searchForm--3 {
    width: 150px;
  }

  .searchForm--4 {
    width: 148px;
    .select2-container .select2-selection--single {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  .searchForm--5 {
    margin-left: 10px;
  }

  .searchForm {
    display: block;
    .select2-container .select2-selection--single {
      border-radius: 0;
      border-color: transparent;
    }
    > div {
      float: left;
    }
    width: 920px;
    margin: 0 auto;
  }

  @media screen and (max-width: 600px) {

  }

  .searchForm {
    width: 100%;
    padding: 10px 10px 0 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    > div {
      margin-bottom: 10px;
    }
  }

}

.searchForm--button {
  margin-bottom: 0;
  width: 100%;
}

.searchFilter {

  background: $bg-gray-light;
  width: 100%;

  margin: 20px 0;
  .searchForm {
    padding: 17px 15px;
    margin-left: -5px;
    margin-right: -5px;
    > div {
      float: left;
      padding: 0 5px;
    }
    .searchForm--1 {
      width: 20%;
    }
    .searchForm--2 {
      width: 25%;
    }
    .searchForm--3 {
      width: 20%;
    }
    .searchForm--4 {
      width: 20%;
    }
    .searchForm--5 {
      width: 15%;
    }

  }
}


.searchDetail{
  padding: 0 5px;
  border-top: 1px solid $light-gray;
  font-size: rem-calc(13px);
  >div{
    display: inline-block;
    padding: 15px 8px;
    border-right: 1px solid $light-gray;
    margin-left: 0 !important;
    &:last-child{
      border-right: 0;
    }
  }

  .rangeSlider-container{
    padding-top:0;
    padding-bottom: 0;
    vertical-align: top;
  }

  .rangeSlider-label{
    float: left;
    padding: 15px 15px 15px 0;
  }

  .rangeSlider{
    width: 200px;
    float: left;
  }

  .searchDetail-title{
    color: $primary-color;
    font-weight: bold;
  }
}

.searchText{
  color: $secondary-color;

  span{
    color: $dark-gray;
    font-weight: bold;
  }
}



#map{
  height: 500px;
  border: 5px solid white;
  margin-bottom: $margin-box;
  width: 100%;

}